<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #left{
            width: 200px;
        }
        ul{
            list-style: none;
        }
        ul li{
            border: 1px solid red;
        }
        li a{
            font-size: 30px;
            display: block;
            text-decoration: none;
        }
        li a:hover{
            background-color: blue;
            color: wheat;
        }

        
    </style>
</head>
<body>

    <div id="main">
        <div id="left">
            <ul>
                <li><a href="#main">主页</a></li>
                <li><a href="#result">结果</a></li>
                <li><a href="#friend">友情链接</a></li>
                <li><a href="#about">关于</a></li>
            </ul>
        </div>

        <div id="right">

        </div>
    </div>
    
</body>
</html>