<!DOCTYPE html>
<html lang="en">

<head>


    <link rel="stylesheet" href="{{url_for('static',filename='css/right_body1.css')}}">

</head>

<body>

    <div id="right">
        <section>
            <div class="box">

                <div id="main" class="content">

                    输入target:<input type="text" name="target">
                    <br />

                    <div id="tools_all">
                        <button>fofa</button>
                        <button>shodan</button>
                        <button>kscan</button>
                        <button>goby</button>
                        <button>ARL灯塔</button>
                        <button>oneforall</button>
                        <button>ENScan_GO</button>
                        <button>xray</button>
                        <button>crawlergo</button>
                        <button>scaninfo</button>
                        <button>httpx</button>
                        <button>>fscan</button>

                    </div>

                </div>

                <div id="result" class="content">
                    结果
                </div>

                <div id="friend" class="content">
                    友情链接
                </div>

                <div id="tools" class="content">
                    <a href="https://fofa.info/">fofa</a>
                    <a href="https://www.shodan.io/">shodan</a>
                    <a href="https://github.com/lcvvvv/kscan">kscan</a>
                    <a href="https://gobies.org/">goby</a>
                    <a href="https://github.com/TophantTechnology/ARL">ARL灯塔</a>
                    <a href="https://github.com/shmilylty/OneForAll">oneforall</a>
                    <a href="https://github.com/wgpsec/ENScan_GO">ENScan_GO</a>
                    <a href="https://github.com/chaitin/xray">xray</a>
                    <a href="https://github.com/Qianlitp/crawlergo">crawlergo</a>
                    <a href="https://github.com/redtoolskobe/scaninfo">scaninfo</a>
                    <a href="https://github.com/projectdiscovery/httpx">httpx</a>
                    <a href="https://github.com/shadow1ng/fscan/">fscan</a>







                </div>

                <div id="about" class="content">
                    关于
                </div>


            </div>
        </section>
    </div>
</body>

</html>