<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .dropdown {
          position: relative;
          display: inline-block;
        }
        .dropdown-content {
          display: none;
          position: absolute;

        }
        .dropdown:hover .dropdown-content {
          display: block;
        }
        </style>


</head>
<body>
    
    
    <div class="dropdown">
      <span>鼠标移动到我这！</span>
      <div class="dropdown-content">
        <p>菜鸟教程</p>
        <p>www.runoob.com</p>
      </div>

      
</body>
</html>